<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandaer.web.mapper.DownloadLogMapper">

    <resultMap id="BaseResultMap" type="com.pandaer.web.model.entity.DownloadLog">
            <id property="id" column="id" />
            <result property="generatorId" column="generator_id" />
            <result property="userId" column="user_id" />
            <result property="clientIp" column="client_ip" />
            <result property="deviceType" column="device_type" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,generator_id,user_id,client_ip,device_type,create_time
    </sql>
</mapper>
