<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandaer.web.mapper.PasswordResetTokenMapper">

    <resultMap id="BaseResultMap" type="com.pandaer.web.model.entity.PasswordResetToken">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="token" column="token" />
            <result property="createTime" column="create_time" />
            <result property="expireTime" column="expire_time" />
            <result property="used" column="used" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,token,create_time,expire_time,used
    </sql>
</mapper>
