<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandaer.web.user.mapper.UserIncomeDetailMapper">

    <resultMap id="BaseResultMap" type="com.pandaer.web.user.entity.UserIncomeDetail">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="orderId" column="order_id" />
            <result property="incomeType" column="income_type" />
            <result property="amount" column="amount" />
            <result property="commissionRate" column="commission_rate" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,order_id,income_type,amount,commission_rate,
        create_time
    </sql>
</mapper>
