<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandaer.web.user.mapper.UserLevelPrivilegeMapper">

    <resultMap id="BaseResultMap" type="com.pandaer.web.user.entity.UserLevelPrivilege">
            <id property="level" column="level" />
            <result property="levelName" column="level_name" />
            <result property="minExp" column="min_exp" />
            <result property="maxExp" column="max_exp" />
            <result property="withdrawFeeRate" column="withdraw_fee_rate" />
            <result property="monthlyQuota" column="monthly_quota" />
            <result property="privileges" column="privileges" />
            <result property="commissionRate" column="commission_rate" />
    </resultMap>

    <sql id="Base_Column_List">
        level,level_name,min_exp,max_exp,withdraw_fee_rate,monthly_quota,
        privileges,commission_rate
    </sql>
</mapper>
