<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandaer.web.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.pandaer.web.user.entity.User">
            <id property="id" column="id" />
            <result property="userAccount" column="userAccount" />
            <result property="userPassword" column="userPassword" />
            <result property="userEmail" column="userEmail" />
            <result property="userName" column="userName" />
            <result property="userAvatar" column="userAvatar" />
            <result property="userProfile" column="userProfile" />
            <result property="userRole" column="userRole" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
            <result property="experience" column="experience" />
            <result property="userLevel" column="user_level" />
            <result property="goldCoins" column="gold_coins" />
            <result property="totalIncome" column="total_income" />
            <result property="monthlyQuota" column="monthly_quota" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userAccount,userPassword,userEmail,userName,userAvatar,
        userProfile,userRole,createTime,updateTime,isDelete,
        experience,user_level,gold_coins,total_income,monthly_quota
    </sql>
</mapper>
